<div class="title-bar">
  <div class="row">
    <div class="logo-area col-sm-6">
      <img class="icon" ng-src="{{iconUrl}}" alt=""/>

      <div class="title-area">
        <p class="logo-title">{{title}}<sup>BETA</sup>
        </p>

        <p class="logo-subtitle">{{subtitle}}</p>
      </div>

    </div>
    <div class="right-side-controls col-sm-6">
      <div>
        <button class="btn btn-primary">Button 1</button>
        <button class="btn btn-success">Button 2</button>
        <button class="btn btn-warning">Button 3</button>
      </div>
    </div>
  </div>
</div>

<div ng-transclude=""></div>
